In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split
import random
import matplotlib.pyplot as plt
%matplotlib inline

In [120]:
df=pd.read_csv('playstoresmall.csv')

In [121]:
df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034.0,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922.0,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
2,Peapod,SHOPPING,3.656329393,1967.0,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154.0,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291.0,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 11 columns):
App Name           32000 non-null object
Category           32000 non-null object
Rating             32000 non-null object
Reviews            31999 non-null float64
Installs           32000 non-null object
Size               32000 non-null object
Price              32000 non-null object
Content Rating     32000 non-null object
Last Updated       32000 non-null object
Minimum Version    32000 non-null object
Latest Version     31999 non-null object
dtypes: float64(1), object(10)
memory usage: 2.7+ MB

In [124]:
df.dropna(inplace=True)

In [125]:
df['Rating']=pd.to_numeric(df['Rating'],errors='coerce')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31998 entries, 0 to 31999
Data columns (total 11 columns):
App Name           31998 non-null object
Category           31998 non-null object
Rating             31996 non-null float64
Reviews            31998 non-null float64
Installs           31998 non-null object
Size               31998 non-null object
Price              31998 non-null object
Content Rating     31998 non-null object
Last Updated       31998 non-null object
Minimum Version    31998 non-null object
Latest Version     31998 non-null object
dtypes: float64(2), object(9)
memory usage: 2.9+ MB

In [127]:
df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548562,305034.0,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671,1207922.0,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
2,Peapod,SHOPPING,3.656329,1967.0,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107233,389154.0,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752,2291.0,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device

In [128]:
CategoryString = df["Category"]
categoryVal = df["Category"].unique()
categoryValCount = len(categoryVal)
category_dict = {}
for i in range(0,categoryValCount):
    category_dict[categoryVal[i]] = i
df["Category_c"] = df["Category"].map(category_dict).astype(int)

In [129]:
def replaceMultiple(mainString, toBeReplaces, newString):
    for elem in toBeReplaces :
        if elem in mainString :
            mainString = mainString.replace(elem, newString)
    return  mainString

In [119]:
for i in range(len(df)):
    df['Size'][i]=replaceMultiple(df['Size'].reset_index().iloc[:,1][i],[','],'')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [19]:
for i in range(len(df)):
    df['Installs'][i]=replaceMultiple(df['Installs'].reset_index().iloc[:,1][i],[',','+'],'')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
def change_size(size):
    if 'M' in size:
        x = size[:-1]
        x = float(x)*1000000
        return(x)
    elif 'k' == size[-1:]:
        x = size[:-1]
        x = float(x)*1000
        return(x)
    else:
        return None

df["Size"] = df["Size"].map(change_size)

#filling Size which had NA
df.Size.fillna(method = 'ffill', inplace = True)

In [25]:
df['Installs']=df['Installs'].astype(float)

In [24]:
df['Installs']=df['Installs'].replace('100,000+','100000')
df['Installs']=df['Installs'].replace('1,000,000+','1000000')
df['Installs']=df['Installs'].replace('500,000+','500000')
df['Installs']=df['Installs'].replace('10,000,000+','10000000')
df['Installs']=df['Installs'].replace('50,000+','50000')
df['Installs']=df['Installs'].replace('10,000+','10000')
df['Installs']=df['Installs'].replace('100,000,000+','100000000')
df['Installs']=df['Installs'].replace('5,000,000+','5000000')
df['Installs']=df['Installs'].replace('50,000,000+','50000000')
df['Installs']=df['Installs'].replace('1,000,000,000+','1000000000')
df['Installs'].value_counts()

100000        6746
1000000       5193
10000         4590
500000        2863
50000         2641
1000          2342
10000000      1941
5000000       1528
5000          1476
100            960
500            709
50000000       328
100000000      256
10             158
50             153
500000000       33
5               28
1000000000      24
1               22
5000000000       3
0                2
6                1
11976            1
Name: Installs, dtype: int64

In [35]:
df[df['Price']=='2.4M']

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Category_c
13504,Never have I ever 18+,),GAME_STRATEGY,4.0,50000.0,16000000.0,2.4M,$0.99,Mature 17+,"December 30, 2018",4.0.3 and up,49

In [37]:
df.drop(13504,inplace=True)

In [95]:
df['Price']=df.Price.str.replace('$','').astype(float)

In [39]:
def type_cat(price):
    if price!='0':
        return 1
    else:
        return 0

df['Type'] = df['Price'].map(type_cat)

In [40]:
df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Category_c,Type
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034.0,5000000.0,NaN,0,Everyone,"March 29, 2019",Varies with device,Varies with device,0,0
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922.0,100000000.0,NaN,0,Everyone,"March 29, 2019",Varies with device,Varies with device,1,0
2,Peapod,SHOPPING,3.656329393,1967.0,100000.0,1400000.0,0,Everyone,"September 20, 2018",5.0 and up,2.2.0,2,0
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154.0,10000000.0,16000000.0,0,Everyone,"March 22, 2019",4.2 and up,4.18.2,0,0
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291.0,10000.0,16000000.0,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device,0,1

In [41]:
RatingL = df['Content Rating'].unique()
RatingDict = {}
for i in range(len(RatingL)):
    RatingDict[RatingL[i]] = i
df['Content Rating'] = df['Content Rating'].map(RatingDict).astype(int)

In [47]:
df.drop(labels = ['Last Updated','Minimum Version','Latest Version','App Name'], axis = 1, inplace = True)

In [54]:
def price_clean(price):
    if price == '0':
        return 0
    else:
        price = price[1:]
        price = float(price)
        return price

df['Price'] = df['Price'].map(price_clean).astype(float)

In [51]:
df[df['Price']=='Varies with device']

,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Category_c,Type
23457,Channel 2 News,NaN,3.857799,100000.0,14000000.0,Varies with device,6,50,1

In [53]:
df.drop(23457,inplace=True)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31996 entries, 0 to 31999
Data columns (total 9 columns):
Category          31996 non-null object
Rating            31996 non-null float64
Reviews           31996 non-null int32
Installs          31996 non-null float64
Size              31994 non-null float64
Price             31996 non-null float64
Content Rating    31996 non-null int32
Category_c        31996 non-null int32
Type              31996 non-null int64
dtypes: float64(4), int32(3), int64(1), object(1)
memory usage: 2.1+ MB

In [56]:
df['Reviews'] = df['Reviews'].astype(int)

In [58]:
df.head()

,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Category_c,Type
0,FOOD_AND_DRINK,4.548562,305034,5000000.0,NaN,0.00,0,0,0
1,TRAVEL_AND_LOCAL,4.400671,1207922,100000000.0,NaN,0.00,0,1,0
2,SHOPPING,3.656329,1967,100000.0,1400000.0,0.00,0,2,0
3,FOOD_AND_DRINK,4.107233,389154,10000000.0,16000000.0,0.00,0,0,0
4,FOOD_AND_DRINK,4.647752,2291,10000.0,16000000.0,5.99,0,0,1

In [59]:
df2 = pd.get_dummies(df, columns=['Category'])

In [69]:
df2.head()

,Rating,Reviews,Installs,Size,Price,Content Rating,Category_c,Type,Category_ART_AND_DESIGN,Category_AUTO_AND_VEHICLES,...,Category_PERSONALIZATION,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER
0,4.548562,305034,5000000.0,NaN,0.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.400671,1207922,100000000.0,NaN,0.00,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3.656329,1967,100000.0,1400000.0,0.00,0,2,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,4.107233,389154,10000000.0,16000000.0,0.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.647752,2291,10000.0,16000000.0,5.99,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
df2['Size']=df2["Size"].fillna(0)

In [72]:
df2.iloc[:,0]

0        4.548562
1        4.400671
2        3.656329
3        4.107233
4        4.647752
5        3.825322
6        4.267268
7        4.495085
8        3.811765
9        4.545353
10       4.511622
11       4.325408
12       3.213528
13       4.160279
14       4.739675
15       4.630654
16       4.374691
17       4.614590
18       4.517922
19       3.909142
20       4.514294
21       4.327828
22       4.248818
23       3.813572
24       3.924423
25       4.689527
26       4.420088
27       4.568305
28       4.397298
29       4.599673
           ...
31970    3.885767
31971    3.898115
31972    4.581112
31973    4.303571
31974    4.776018
31975    4.823009
31976    4.857190
31977    4.845118
31978    4.923077
31979    4.746913
31980    4.454545
31981    4.638060
31982    4.607843
31983    3.304606
31984    3.628857
31985    3.991338
31986    3.933333
31987    4.579809
31988    3.500000
31989    4.800000
31990    1.511111
31991    4.397152
31992    4.053232
31993    4.582449
31994    4.495098
31995    4.500000
31996    3.521127
31997    3.994589
31998    4.250000
31999    4.224199
Name: Rating, Length: 31996, dtype: float64

In [ ]:
def Evaluationmatrix(y_true, y_predict):
    print ('Mean Squared Error: '+ str(metrics.mean_squared_error(y_true,y_predict)))
    print ('Mean absolute Error: '+ str(metrics.mean_absolute_error(y_true,y_predict)))
    print ('Mean squared Log Error: '+ str(metrics.mean_squared_log_error(y_true,y_predict)))

In [90]:
X = df2.iloc[:,1:56]
y = df2.iloc[:,0]
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31996 entries, 0 to 31999
Data columns (total 55 columns):
Reviews                         31996 non-null int32
Installs                        31996 non-null float64
Size                            31996 non-null float64
Price                           31996 non-null float64
Content Rating                  31996 non-null int32
Category_c                      31996 non-null int32
Type                            31996 non-null int64
Category_ART_AND_DESIGN         31996 non-null uint8
Category_AUTO_AND_VEHICLES      31996 non-null uint8
Category_BEAUTY                 31996 non-null uint8
Category_BOOKS_AND_REFERENCE    31996 non-null uint8
Category_BUSINESS               31996 non-null uint8
Category_COMICS                 31996 non-null uint8
Category_COMMUNICATION          31996 non-null uint8
Category_DATING                 31996 non-null uint8
Category_EDUCATION              31996 non-null uint8
Category_ENTERTAINMENT          31996 non-null uint8
Category_EVENTS                 31996 non-null uint8
Category_FINANCE                31996 non-null uint8
Category_FOOD_AND_DRINK         31996 non-null uint8
Category_GAME_ACTION            31996 non-null uint8
Category_GAME_ADVENTURE         31996 non-null uint8
Category_GAME_ARCADE            31996 non-null uint8
Category_GAME_BOARD             31996 non-null uint8
Category_GAME_CARD              31996 non-null uint8
Category_GAME_CASINO            31996 non-null uint8
Category_GAME_CASUAL            31996 non-null uint8
Category_GAME_EDUCATIONAL       31996 non-null uint8
Category_GAME_MUSIC             31996 non-null uint8
Category_GAME_PUZZLE            31996 non-null uint8
Category_GAME_RACING            31996 non-null uint8
Category_GAME_ROLE_PLAYING      31996 non-null uint8
Category_GAME_SIMULATION        31996 non-null uint8
Category_GAME_SPORTS            31996 non-null uint8
Category_GAME_STRATEGY          31996 non-null uint8
Category_GAME_TRIVIA            31996 non-null uint8
Category_GAME_WORD              31996 non-null uint8
Category_HEALTH_AND_FITNESS     31996 non-null uint8
Category_HOUSE_AND_HOME         31996 non-null uint8
Category_LIBRARIES_AND_DEMO     31996 non-null uint8
Category_LIFESTYLE              31996 non-null uint8
Category_MAPS_AND_NAVIGATION    31996 non-null uint8
Category_MEDICAL                31996 non-null uint8
Category_MUSIC_AND_AUDIO        31996 non-null uint8
Category_NEWS_AND_MAGAZINES     31996 non-null uint8
Category_PARENTING              31996 non-null uint8
Category_PERSONALIZATION        31996 non-null uint8
Category_PHOTOGRAPHY            31996 non-null uint8
Category_PRODUCTIVITY           31996 non-null uint8
Category_SHOPPING               31996 non-null uint8
Category_SOCIAL                 31996 non-null uint8
Category_SPORTS                 31996 non-null uint8
Category_TOOLS                  31996 non-null uint8
Category_TRAVEL_AND_LOCAL       31996 non-null uint8
Category_VIDEO_PLAYERS          31996 non-null uint8
dtypes: float64(3), int32(3), int64(1), uint8(48)
memory usage: 3.1 MB

In [91]:
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score

#Integer encoding

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
'''model = LinearRegression()
model.fit(X_train,y_train)
Results = model.predict(X_test)
r2_score(y_test,Results)

#Creation of results dataframe and addition of first entry
resultsdf = pd.DataFrame()
resultsdf = resultsdf.from_dict(Evaluationmatrix_dict(y_test,Results),orient = 'index')
resultsdf = resultsdf.transpose()'''

"model = LinearRegression()\nmodel.fit(X_train,y_train)\nResults = model.predict(X_test)\nr2_score(y_test,Results)\n\n#Creation of results dataframe and addition of first entry\nresultsdf = pd.DataFrame()\nresultsdf = resultsdf.from_dict(Evaluationmatrix_dict(y_test,Results),orient = 'index')\nresultsdf = resultsdf.transpose()"

In [92]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [93]:
Results = model.predict(X_test)
r2_score(y_test,Results)

0.053780526404922036